// 全局样式
.message-class {
  .el-icon-success {
    color: #3a87be;
    margin-right: 10px;
  }

  background-color: #d9edf7;
  color: #3a87be;
  padding: 12px 13px;
  min-width: auto;
  font-size: 20px;
}