<table cellspacing="0" cellpadding="0" width="1292" style="width: 1178px;">
  <tbody>
    <tr style="height:40px;" class="firstRow">
      <td width="103" valign="top" style="border: 1px solid black; padding: 0px;" height="40">
        <p style="margin-top:10px"><strong><span style="font-size:19px">课题名称 </span></strong></p>
      </td>
      <td width="931" colspan="5" valign="top"
        style="border-top: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; border-image: initial; border-left: none; padding: 0px;"
        height="40">
        <p style="margin-top:10px"><span style="font-size:16px">智能可穿戴文化衫的设计与制作 </span></p>
      </td>
    </tr>
    <tr style="height:42px;">
      <td width="103" valign="top"
        style="border-right: 1px solid black; border-bottom: 1px solid black; border-left: 1px solid black; border-image: initial; border-top: none; padding: 0px;"
        height="42">
        <p style="margin-top:11px"><strong><span style="font-size:19px">科目 </span></strong></p>
      </td>
      <td width="145"
        style="border-top: none; border-left: none; border-bottom: 1px solid black; border-right: 1px solid black; padding: 0px;"
        height="42">
        <p style="margin-top:0;margin-bottom:0;margin-left:7px;margin-bottom:0;text-align:   center"><span
            style="font-size:16px;letter-spacing:   -0">信息技术、</span><span style="font-size:16px">美术</span></p>
      </td>
      <td width="129" valign="top"
        style="border-top: none; border-left: none; border-bottom: 1px solid black; border-right: 1px solid black; padding: 0px;"
        height="42">
        <p style="margin-top:11px"><strong><span style="font-size:19px">教学对象 </span></strong></p>
      </td>
      <td width="118" valign="top"
        style="border-top: none; border-left: none; border-bottom: 1px solid black; border-right: 1px solid black; padding: 0px;"
        height="42">
        <p style="margin-top:11px;margin-right:0;margin-bottom:   0;margin-left:7px;margin-bottom:0"><span
            style="font-size:16px">初一年级 </span></p>
      </td>
      <td width="114" valign="top"
        style="border-top: none; border-left: none; border-bottom: 1px solid black; border-right: 1px solid black; padding: 0px;"
        height="42">
        <p style="margin-top:11px;margin-right:0;margin-bottom:   0;margin-left:7px;margin-bottom:0"><strong><span
              style="font-size:19px">设计者 </span></strong></p>
      </td>
      <td width="425" valign="top"
        style="border-top: none; border-left: none; border-bottom: 1px solid black; border-right: 1px solid black; padding: 0px;"
        height="42">
        <p style="margin-top:11px;margin-right:0;margin-bottom:   0;margin-left:7px;margin-bottom:0"><span
            style="font-size:16px">华中师大研究团队</span></p>
      </td>
    </tr>
  </tbody>
</table>
<p><br /></p>

<table cellspacing="0" cellpadding="0" width="1292" style="width: 1178px;">
  <tbody>
    <tr style="height:42px;" class="firstRow">
      <td width="1034" valign="top" style="border: 1px solid black; background: rgb(243, 243, 243); padding: 0px;"
        height="42">
        <p style="margin-top:9px"><strong><span style="font-size:19px">一、内容分析 </span></strong></p>
      </td>
    </tr>
    <tr style="height:109px;">
      <td width="1034"
        style="border-right: 1px solid black; border-bottom: 1px solid black; border-left: 1px solid black; border-image: initial; border-top: none; padding: 0px;"
        height="109">
      </td>
    </tr>
  </tbody>
</table>
<!-- Teach_Flow -->
<table cellspacing="0" cellpadding="0" align="center">
  <tbody>
    <tr style="height:42px;" class="firstRow">
      <td width="622" colspan="6" valign="top"
        style="border: 1px solid black;  border-image: initial; background: rgb(243, 243, 243); padding: 0px;"
        height="42">
        <p style="margin-top:9px">
          <strong><span style="font-size:19px">四、教学目标 </span></strong>
        </p>
      </td>
    </tr>
    <tr style="height:1px;" class="firstRow">
      <td width="103" style="border: 1px solid black; background: rgb(68, 114, 196); padding: 5px 10px;" height="1">
        <p style="text-align:center"><strong><span
              style="font-size:   19px;font-family:宋体;color:white">环节</span></strong></p>
      </td>
      <td width="94"
        style="border-top: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; border-left: none; background: rgb(68, 114, 196); padding: 5px 10px; border-image: initial;"
        height="1">
        <p style="text-align:center"><strong><span
              style="font-size:   19px;font-family:宋体;color:white">时间</span></strong></p>
      </td>
      <td width="253"
        style="border-top: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; border-left: none; background: rgb(68, 114, 196); padding: 5px 10px; border-image: initial;"
        height="1">
        <p style="text-align:center"><strong><span
              style="font-size:   19px;font-family:宋体;color:white">活动</span></strong></p>
      </td>
      <td width="85"
        style="border-top: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; border-left: none; background: rgb(68, 114, 196); padding: 5px 10px; border-image: initial;"
        height="1">
        <p style="text-align:center"><strong><span
              style="font-size:   19px;font-family:宋体;color:white">资源</span></strong></p>
      </td>
    </tr>
    <tr style="height:1px;">
      <td width="103"
        style="border-right: 1px solid black; border-bottom: 1px solid black; border-left: 1px solid black; border-top: none; background: rgb(207, 213, 234); padding: 5px 10px; border-image: initial;"
        height="1"><br /></td>
      <td width="94"
        style="border-top: none; border-left: none; border-bottom: 1px solid black; border-right: 1px solid black; background: rgb(207, 213, 234); padding: 5px 10px;"
        height="1"><br /></td>
      <td width="253" valign="top"
        style="border-top: none; border-left: none; border-bottom: 1px solid black; border-right: 1px solid black; background: rgb(207, 213, 234); padding: 5px 10px;"
        height="1"><br /></td>
      <td width="85"
        style="border-top: none; border-left: none; border-bottom: 1px solid black; border-right: 1px solid black; background: rgb(207, 213, 234); padding: 5px 10px;"
        height="1"><br /></td>
    </tr>
  </tbody>
</table>
<p><br /></p>